<h1>Tabla de multiplicar simple</h1>

<form method="post">

    <label>Introduce un número: </label>
    <input type="number" name="numero" class="form-control" />
    <br />
    <button class="btn btn-outline-info">
        Mostrar tabla
    </button>
</form>

@if (Model != null){
    <ul>
        @foreach (string op in Model)
        {
            <li>@op</li>
        }
    </ul>
}